h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Slab', serif;
}
p {
	font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
}
.mountain-bg {
    background-image: url(../assets/vectors/mountains-bg.svg);
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
    background-attachment:fixed;
    z-index: -100000;
}


.below-bg {
    background-image: url(../assets/vectors/underground-bg.svg);
    background-repeat: no-repeat;
    background-attachment:  fixed;
    background-position:bottom;
    background-size: cover;
    
}
.full-width-img {
    left: -30%;
    width: 100vw; 
}
.parallax {
    z-index: 1000;
}
.noborder {
    border-style:none;
}

.trip-image-display {
    object-fit: cover;
    max-height: 450px;
}